<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'passGen/main.css' %}">
        <title>Password Generator</title>
    </head>
    <body>
        <div class="password__box">
            {% if password %}
                <p>{{ password }}</p>
            {% else %}
                <p>Not generated name yet.</p>
            {% endif %}
            <form action="{% url 'passGen:generate' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Generate password</button>
            </form>
        </div>
    </body>
</html>